<!DOCTYPE html>
<html>
<head>
  <title>Travelizer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
    <div id="header_nav">
      <% if user_signed_in? %>
        <%= link_to('Sign out', destroy_user_session_path) %>
      <% else %>
        <%= link_to "Register", '/users/sign_up' %> |
        <%= link_to('Sign in', new_user_session_path)  %>
      <% end %>   
    </div>
  </header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
